<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Employee Management</title>

  <!-- External Styles -->
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Local Styles -->
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/AdminLTE.css}">
  <link rel="stylesheet" th:href="@{/assets/css/_all-skins.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/jquery-ui.css}">
  <link rel="stylesheet" th:href="@{/assets/css/nestable.css}">
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">

  <!-- Scripts -->
  <script th:src="@{/assets/js/angular.min.js}"></script>
  <script th:src="@{/assets/js/app.js}"></script>
  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/jquery-ui.js}"></script>
  <script th:src="@{/assets/js/jquery.nestable.js}"></script>

  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/adminlte.min.js}"></script>
  <script th:src="@{/assets/js/dashboard.js}"></script>
  <script th:src="@{/assets/js/function.js}"></script>
<!--  <script th:src="@{tinymce/tinymce.min.js}"></script>-->
<!--  <script th:src="@{tinymce/config.js}"></script>-->
</head>
<body>
<!-- Body content here -->
</body>
</html>
