<body>
<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img th:src="@{assets/images/user.jpg}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Uông Ngọc Thành</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
      </div>
    </form>

    <ul class="sidebar-menu" data-widget="user">
      <li><a href="/list"><i class="fa fa-users"></i> <span>Quản Lí Nhân Sự</span><span class="pull-right-container"><small class="label pull-right bg-green">FE</small></span></a></li>

      <li><a href="#"><i class="fa fa-tasks"></i> <span>Quản Lí Công Việc </span><span class="pull-right-container"><small class="label pull-right bg-green">Hot</small></span></a></li>
    </ul>
  </section>
</aside>

</body>
</html>